
/*
	STYLE.CSS:
	One stylesheet to rule them all.

	selector { property:value }

*/

@import url(https://fonts.googleapis.com/css?family=Barrio|Dosis" rel="stylesheet);


body {
  background-color: #A0AAA7;
}

.pageContainer {
  width: 940px;
  margin: 20px auto 0 auto;
  padding: 20px;
  background-color: #E8AAA7;
}

.imageContainer {
  float: left;
  width: 620px;
}

.textContainer {
  float: left;
  width: 300px;
  margin-left: 20px;
  margin-top: 20px;
}

img {
  width: 100%;
}

h1 {
  font-family: 'Barrio', cursive;
  font-size: 64px;
  color: #FF603A;
}

p, li {
  font-family: 'Dosis', sans-serif;
  font-size: 22px;
  color: #FF583A;
}




/* ---- Advanced ---- */
/* This tag is a bit advanced for this lesson,
   but is needed to wrap the pageContainer
   around any sized content that is floated within it. */

.pageContainer:after {
  content: " ";
  display: table;
  clear: both;
}
